html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #181620;
  color: #f8f8ff;
}

button {
  background-color: #f8f8ff;
  border: 2px solid #181620;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
    background-color: #181620;
    border-color: #f8f8ff;
    color: #f8f8ff;
}

header h1 {
  text-align: center;
  margin: 5rem 0 5rem 0;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.commentary {
  width: 90%;
  text-align: center;
  margin: 5rem auto;
}

.rps h3 {
  text-align: center;
  margin: 3rem 0;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 75%;
  margin: 0 auto;
}

.choices button {
  flex: 180px;
  padding: 1rem;
}

.score {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 5rem;
}

.playerScore,
.computerScore {
  border: 0.125rem solid white;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-size: 2rem;
}

.resetButton {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

button.reset {
  padding: 1rem 2rem;
}
